<nav class="sidebar bg-dark text-white">
  <div class="p-3">
    <h6 class="mt-5">Historial</h6>
    <ul class="list-unstyled">
      <li><a href="#" class="text-decoration-none">Item 1</a></li>
      <li><a href="#" class="text-decoration-none">Item 2</a></li>
      <li><a href="#" class="text-decoration-none">Item 3</a></li>
      <li><a href="#" class="text-decoration-none">Item 4</a></li>
      <li><a href="#" class="text-decoration-none">Item 5</a></li>
      <li><a href="#" class="text-decoration-none">Item 6</a></li>
      <li><a href="#" class="text-decoration-none">Item 7</a></li>
      <li><a href="#" class="text-decoration-none">Item 8</a></li>
      <li><a href="#" class="text-decoration-none">Item 9</a></li>
      <li><a href="#" class="text-decoration-none">Item 10</a></li>
    </ul>
  </div>
</nav>
